.task-container{
  background-color: rgb(75, 72, 72);
  margin: 8px 0;
  padding:15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: white;
  align-items: center;

}

.task-title {
  cursor: pointer;
}